.nav-item a {
    color: #333 !important;
    font-weight: bold !important;
}

.nav-item a:hover {
    color: #fc6b03 !important;
}

.page-footer {
    background-color: #444;
    color: #fff;
    padding: 1em;
}

.fab {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa-facebook-f {
    background: #3b5998;
    color: #fff;
}

.fa-twitter {
    background: #55acee;
    color: #fff;
}